*.tex
*.pdf
/YearA/*.tex
/YearA/*.pdf
/YearB/*.tex
/YearB/*.pdf
/YearA/Weekly/*.tex
/YearA/Weekly/*.pdf
/YearB/Weekly/*.tex
/YearB/Weekly/*.pdf

/.quarto/
**/*.quarto_ipynb
_freeze/

.Rhistory
.devcontainer/
_images/.DS_Store
Dockerfile
docker-compose.yml
_site/

.DS_Store