.venv
.ghenv

2026-A/next-lists.py

tex
*.pdf
/YearA/*.tex
/YearA/*.pdf
/YearB/*.tex
/YearB/*.pdf
/YearA/Weekly/*.tex
/YearA/Weekly/*.pdf
/YearB/Weekly/*.tex
/YearB/Weekly/*.pdf

/.quarto/
**/*.quarto_ipynb
_freeze/

.Rhistory
.devcontainer/
.DS_Store
_images/.DS_Store
_images/dates/.DS_Store
Dockerfile
docker-compose.yml
_site/

__pycache__/
*.py[cod]
*$py.class
*.so
.Python
2026-A/__pycache__/
*.py[cod]
*$py.class
*.so
.Python
