.venv
.ghenv

2026-A/next-lists.py

/.quarto/
**/*.quarto_ipynb
_freeze/

.Rhistory
.devcontainer/
.DS_Store
images/.DS_Store
images/dates/.DS_Store
Dockerfile
docker-compose.yml
_site/

__pycache__/
*.py[cod]
*$py.class
*.so
.Python
2026-A/__pycache__/
*.py[cod]
*$py.class
*.so
.Python

/.luarc.json
