---
layout: default
---

<main id="main" class="page-content" aria-label="Content">
  <div class="inner">
    <article class="entry-wrap">
      <div class="entry-content">
        {{ content }}
      </div>
      {% if site.disqus.shortname %}
        {% include disqus_comments.html %}
      {% endif %}
      {% include page-intro.html %}
      {%- assign date_format = site.minima.date_format | default: '%b %-d, %Y' -%}
      {%- if page.last_modified_at -%}
          Last updated: {%- page.last_modified_at | date: date_format -%}
      {%- else -%}
          Last updated: {%- page.date | date: date_format -%}
      {%- endif -%}
    </article>
  </div>
</main>
